<a href="https://colab.research.google.com/github/JS-070/test/blob/main/Variables_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello World!")

Hello World!

#변수의 특징

### 1. 파이썬 코드는 위에서 아래로 읽는다!!!!
### 2. a, b, c -> 값을 저장하고, 데이터에 이름을 붙이는 것.(이것을 variables)
### 3. varialbes(변수)에 공백이 있어서는 안된다.
### 4. varialbes(변수)에 첫 문자로 숫자가 오면 안된다.

In [3]:
a = 2
b = 3
c = a + b
print(c)

5